@model List<TestCoppel.Core.Data.Models.Producto>

<h2>Productoes</h2>

<p>@Html.ActionLink("Agregar Producto", "AddEditItem", "Producto", null, new { @class = "btn btn-primary" })</p>

<table id="items-list" class="table table-hover">
	<thead class="thead-inverse">
		<tr>
			<th>ProductoID</th>
			<th>Descripcion</th>
			<th>Estatus</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@if (!Model.Any())
		{
			<tr>
				<td colspan="7">No hay productos para mostrar</td>
			</tr>
		}
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.ProductoID</td>
				<td>@item.Description</td>
				<td>@(item.Estatus ? "Activo" : "Inactivo")</td>
				<td>
					@using (Html.BeginForm("DeleteItem", "Producto"))
					{
						@Html.Hidden("id", item.ProductoID)
						<a class="btn btn-success" href="@Url.Action("AddEditItem","Producto", new { id=item.ProductoID })" title="Editar"><span class="fa fa-pencil"></span></a>
						<button type="submit" class="btn btn-danger" title="Eliminar"><span class="fa fa-trash-o"></span></button>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
